################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChallengeConditionalRadioButton/.vs/ChallengeConditionalRadioButton/v15/Server/sqlite3/db.lock
/ChallengeDaysBetweenDates/.vs/ChallengeDaysBetweenDates/v15/Server/sqlite3/db.lock
/CS-ASP_011/Before/CS-ASP_011/.vs/CS-ASP_011/v15/Server/sqlite3/db.lock
/CS-ASP_012/Before/CS-ASP_012/.vs/CS-ASP_012/v15/Server/sqlite3/db.lock
/ChallengeEpicSpiesAssetTracker/.vs/ChallengeEpicSpiesAssetTracker/v15/Server/sqlite3/db.lock
/ChallengeSimpleCalculator/.vs/ChallengeSimpleCalculator/v15/Server/sqlite3/db.lock
/epicspieschallenge/.vs/epicspieschallenge/v15/Server/sqlite3/db.lock
/ChallengePostalCalculator/.vs/ChallengePostalCalculator/v15/Server/sqlite3/db.lock
